<!-- Education Section-->
<section>
    <h2 class="text-secondary fw-bolder mb-4">Educação</h2>
    <!-- Education Card 1-->
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                        <div class="text-secondary fw-bolder mb-2">2021 - 2024</div>
                        <div class="mb-2">
                            <div class="small fw-bolder">Martha Falcão</div>
                            <div class="small text-muted">Manaus, AM</div>
                        </div>
                        <div class="fst-italic">
                            <div class="small text-muted">Gestão</div>
                            <div class="small text-muted">Tecnologia da Informação</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>Este curso me proporcionou conhecimentos fundamentais e práticos para gerenciar recursos
                        de TI dentro de organizações, enfatizando a aplicação de soluções tecnológicas para alcançar
                        objetivos estratégicos empresariais.</div>
                </div>
            </div>
        </div>
    </div>
</section>