<section>
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h2 class="text-primary fw-bolder mb-0">Experiência</h2>
        <!-- Download resume button-->
        <!-- Note: Set the link href target to a PDF file within your project-->
        <a class="btn btn-primary px-4 py-3" href="#!">
            <div class="d-inline-block bi bi-download me-2"></div>
            Download Resume
        </a>
    </div>
    <!-- Experience Card 1-->
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                        <div class="text-primary fw-bolder mb-2">2021 - Presente</div>
                        <div class="small fw-bolder">Dev. Freelancer</div>
                        <div class="small text-muted">Manaus, AM</div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>Desde 2021, atuo como Desenvolvedor Freelancer. Meu trabalho
                        envolve criar e implementar soluções de software personalizadas para atender às necessidades dos
                        clientes, além de garantir a manutenção e atualização dos sistemas existentes, adaptando-me
                        continuamente às demandas do mercado.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                        <div class="text-primary fw-bolder mb-2">2020 - Presente</div>
                        <div class="small fw-bolder">Auxiliar Jurídico</div>
                        <div class="small text-muted"><a href="https://fmvadv.com.br">FM&V Advocacia</a></div>
                        <div class="small text-muted">Manaus, AM</div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>Desde 2020, sou Auxiliar Jurídico na FM&V Advocacia em Manaus, AM, auxiliando na gestão
                        eficiente de procedimentos administrativos e jurídicos. Meu papel inclui a otimização dos fluxos
                        de trabalho do escritório e o auxílio estratégico à equipe de advogados, promovendo processos
                        mais ágeis e eficazes.</div>
                </div>
            </div>
        </div>
    </div>
</section>